<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div>
              <input  type="text" class="form-control" placeholder="nombre de usuario" aria-label="nombre"
               (input)="userIngresed($event)">
            </div>
            <div>
              <input type="password" class="form-control" placeholder="contraseña" aria-label="contraseña" (input)="passwordIngresed($event)"
             >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          
          <span *ngIf="estadouser && estadopass">estas logueado</span>
          <span *ngIf="!estadouser || !estadopass">NO estas logueado</span>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="LoginVerify()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>