<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onEnviar($event)" novalidate>
        <div class="form-outline form-whit mb-4">
          <label class="form-label" for="nombreUsuario">email</label>
          <input
            type="email"
            id="nombreUsuario"
            name="nombreUsuario"
            class="form-control form-control-lg"
            [(ngModel)]="nombreUsuario"
            required
          />
          
        </div>

        <div class="form-outline form-whit mb-4">
          <label class="form-label" for="password">contraseña</label>
          <input
            type="password"
            id="password"
            class="form-control form-control-lg"
            name="password"
            [(ngModel)]="password"
            required
          />
          

          <button class="btn btn-outline-light btn-lg px-5" type="submit">
            INGRESE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
