<div class="container img_representativa">
  <!-- src="..\assets\img\farmacia-simbolo.jpg" [src]="simbfcia"-->
  <img
    src="..\assets\img\farmacia-simbolo.jpg"
    class="img-fluid rounded mx-auto d-block img_representativa"
    alt="logo-farmacia"
  />
</div>
<!--  <div *ngFor="let dato of acercademi" class="img_fluid img_personal"> -->
<div class="img_fluid img_personal">
  <!-- src="..\assets\img\mi-foto(2).jpg" [src]="dato.foto"-->
  <img
    
    src="..\assets\img\mi-foto(2).jpg"
    alt="fotopersonal"
  />

  <!-- </div> -->
  <!-- <div class="row">Carlos anibal gabrovich</div>
    <div class="row">fecha de nacimiento: 06-12-1971</div>
    <div class="row">correo</div> -->
</div>
