<div class="container img_representativa">
  <img
    src="..\assets\img\farmacia-simbolo.jpg"
    class="img-fluid rounded mx-auto d-block"
    alt="logo-farmacia"
  />
</div>
<div class="img_fluid img_personal">
  <!-- <div class="row"> -->
    
      <img
      src="..\assets\img\mi-foto(2).jpg"
      alt="fotopersonal">
    <!-- </div> -->
    <!-- <div class="row">Carlos anibal gabrovich</div>
    <div class="row">fecha de nacimiento: 06-12-1971</div>
    <div class="row">correo</div> -->
  
</div>
