<section>

    <!-- experiencia 1 -->
    <h3 class="tituloMiExperiencia">Mi experiencia</h3>
    <div class="container">
      <div class="row">
        <div class="col-4 border border-1">
          <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
        </div>
        <div class="col-7 border border-1">
          <p class="textExperiencia1">
            Farmacia Torres,
            Localidad Hernandarias
            Provincia Entre Rios
            Director Técnico
            desde 1995 hasta 1996
          </p>
        </div>

        <div class="col-1">
          <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
            data-bs-target="#editExperiencia_1">
            <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">

          </button>
        </div>
      </div>
        <!-- experiencia 2 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia2">
              Farmacia Rosario,
              Localidad Paraná
              Provincia Entre Ríos.
              Director Técnico
              desde 1996 hasta agosto 1998
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_1">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 3 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia3">
              Farmacia Social ATM, de Asociacion de Trabajadores Municipales
              Localidad Paraná
              Provincia Entre Ríos
              Director Técnico
              desde septiembre 1998 hasta enero de 2003
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_3">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 4 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia4">
              Farmacia Vivir, de emergencias medica vivir
              Localidad Paraná
              Provincia Entre Ríos
              Director Técnico
              desde 1995 hasta 1996
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_4">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 5 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia5">
              Farmacia Social ATM, de Asociacion de Trabajadores Municipales
              Localidad Paraná
              Provincia Entre Ríos
              Director Técnico
              desde septiembre 2003 hasta enero de 2005
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_5">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 6 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/walmart-pharmacy.webp" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia6">
              Farmacia Walmart,
              Localidad Paraná
              Provincia Entre Ríos
              Director Técnico
              desde Febrero de 2005 hasta junio de 2008
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_6">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 7 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia7">
              Farmacia Avenida, de Liliam Cechini
              Localidad Concordia
              Provincia Entre Rios
              Director Técnico
              desde julio 2008 hasta julio de 2010
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_7">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 8 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/logo-Centro-de-vac-e-infec-Cdia.png" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia8">
              Centro de Vacunacion e Infectologico Concordia,
              Localidad concordia
              Provincia Entre Rios
              Asesoramiento en venta y vacunación
              desde Agosto 2010 hasta agosto de 2011
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_8">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>

        <!-- experiencia 9 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/sin_imagen.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia9">
              Farmacia Josefina
              Localidad Concordia
              Provincia Entre Ríos
              desde septiembre 2011 hasta enero de 2017
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_9">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
        <!-- experiencia 10 -->
        <div class="row">
          <div class="col-4 border border-1">
            <img src="img/fcia-ffull.jpg" class="img w-100 h-100 p-0 m-0" alt="sin_imagen">
          </div>
          <div class="col-7 border border-1">
            <p class="textExperiencia10">
              Farmacia Farmafull 4, de Sociedad TeVeoBien SRL
              Localidad concordia
              Provincia Entre Rios
              desde febrero 2017 hasta actualidad
            </p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-light btn-outline-dark " data-bs-toggle="modal"
              data-bs-target="#editExperiencia_10">
              <img src="img/stylo_pen_write_19386 _1.png" alt="edicion">
  
            </button>
          </div>
        </div>
      
    </div>
  </section>