  <!-- inicio navbar -->
  <app-nav></app-nav>
  <!-- inicio banner -->
  <app-banner></app-banner>

  <!-- seccion acerca de mi -->
  <app-acerca-de-mi></app-acerca-de-mi>
 

  <div class="container-fluid bg-primary"> <!-- linea azul divisoria -->
  </div>

  <!-- seccion experiencia -->
  <app-experiencia></app-experiencia>

  <div class="container-fluid bg-primary"> <!-- linea azul divisoria -->
  </div>

  <!-- seccion formacion academica -->
  <app-formacion-academica></app-formacion-academica>
  <div class="container-fluid bg-primary"> <!-- linea azul divisoria -->
  </div>
  <!-- seccion hard y soft skills -->
  <app-skills></app-skills>
  <!-- seccion proyectos -->
  <app-proyectos></app-proyectos>
  <!-- Modal -->
  <!-- boton login -->
  <app-modal-btn-login></app-modal-btn-login>
  <!-- modal boton edit-AcercaDeMi -->
 <app-modal-btn-edit-acerca-de-mi></app-modal-btn-edit-acerca-de-mi>
  <!-- modal boton experiencia1 -->
  <app-modal-btn-experiencia1></app-modal-btn-experiencia1>
  <!-- modal boton experiencia2 -->
  <app-modal-btn-experiencia2></app-modal-btn-experiencia2>
  <!-- modal boton experiencia3 -->
  <app-modal-btn-experiencia3></app-modal-btn-experiencia3>
  <!-- modal boton experiencia4 -->
  app-modal-btn-experiencia4
  <!-- modal boton experiencia5 -->
  <app-modal-btn-experiencia5></app-modal-btn-experiencia5>
  <!-- modal boton experiencia6 -->
  <app-modal-btn-experiencia6></app-modal-btn-experiencia6>
  <!-- modal boton experiencia7 -->
  <app-modal-btn-experiencia7></app-modal-btn-experiencia7>
  <!-- modal boton experiencia8 -->
 <app-modal-btn-experiencia8></app-modal-btn-experiencia8>
  <!-- modal boton experiencia9 -->
  <app-modal-btn-experiencia9></app-modal-btn-experiencia9>

  <!-- modal boton experiencia10 -->
  <app-modal-btn-experiencia10></app-modal-btn-experiencia10>
