<div class="container acerca_de_mi ml-1 mr-1">
  
  <button
    type="button"
    class="btn btn-light btn-outline-dark d-inline acerca_de_mi"
    data-bs-toggle="modal"
    data-bs-target="#editAcercaDeMi"
  >
    <img src="../../../assets/img/stylo_pen_write_19386 _16x16.png _32x32.png" alt="edicion" />
  </button>
  <button
    type="button"
    class="btn btn-light btn-outline-dark d-inline acerca_de_mi mx-auto">
    <i class="fa-duotone fa-trash"></i>
  </button>
  <!-- {{Persona.nombre+" "+Persona.apellido}} -->
  <div class="row">
    <!--  <div class="col-12" *ngFor="let dato of Persona">-->
    <div class="col-12">
      <!-- <h5 class="mt-5">{{persona.nombre+" "+persona.apellido}}</h5> -->
      <h5 class="mt-5">Carlos Anibal Gabrovich</h5>
      <!-- <h5>Fecha de Nacimiento: {{persona.fechanac}}</h5> -->
      <h5>Fecha de Nacimiento: 06-12-1971</h5>
      <!-- <h5>correo: {{persona.email}}</h5> -->
      <h5>correo: carlos.gabrovich@gmail.com</h5>
      <label for="textAcercaDeMi">Acerca de mi</label>
      <p id="textAcercaDeMi">
        <!-- {{persona.acercademi}} --> 
        Hola, bienvenidos. soy Carlos Anibal Gabrovich. Este es mi portfolio, es el trabajo final del curso Argentina Programa, que nos prepara para ser programador full stack junior. Siempre he sido aficionado a la informatica, he ido aprendiendo por mi cuenta, leyendo y haciendo algun curso, y este ultimo año me decidi a estudiar mas en profundidad y hacer algo mas profesional. Soy farmaceutico desde 1995, trabajando en varias farmacias de la provincia de Entre Rios. Aparte me gusta el running, el ciclismo, hago algunas reparaciones de biciletas, y reparaciones electricas.
      </p>
    </div>
  </div>
</div>
