.d-iflex{
    display: inline-flex;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    right: 0px;
}

#btnlogin {
    display: "deshabilitado";
}

/* data-bs-toggle="modal"
      data-bs-target="#loginModal"
      id="btnlogin" */