<nav class="navbar bg-secondary">
  <div class="container col-sm-12 logo">
    <img src="/assets/img/argprog2.png" alt="logo_argentina_programa" />
  </div>
  <ul>
    <li class="redes w-auto p-3">
      <a href="https://codepen.io/gabroka" target="_blank"
        ><!-- <img src="/assets/img/codepen.svg" alt="codepen"> --><i
          class="fa-brands fa-codepen"
        ></i
      ></a>
      <!-- <button type="button" class="btn"> <img class="imgRedes" src="img/stylo_pen_write_19386 _16x16.png">
      </button> -->
    </li>
    <li class="redes w-auto p-3">
      <a
        href="www.linkedin.com/in/carlos-anibal-gabrovich-0193b3a7"
        target="_blank"
        ><!-- <img src="src/assets/img/linkedin.svg"
          alt="linkedin"> --><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li class="redes w-auto p-3">
      <a href="https://github.com/gabroka/maqueta_frontend" target="_blank"
        ><i class="fa-brands fa-github"></i
        ><!-- <img src="src\assets\img\square-github.svg"
          alt="github"> --></a
      >
    </li>
    <!-- Button trigger modal de login -->
    <app-login></app-login>
    <app-logout></app-logout>
  </ul>
</nav>
