<nav class="nav w-auto justify-content-between  bg-secondary">
  
      <li class="nav-item">
        <img src="/assets/img/argprog2.png" alt="logo_argentina_programa" />
      </li>
    
      <div class="nav-item">
        <a class="nav-item mx-2" href="https://codepen.io/gabroka" target="_blank"
          > <i
            class="fa-brands fa-codepen"
          ></i
        ></a>
          
      
      
        <a class="nav-item mx-2"
          href="https://www.linkedin.com/in/carlos-anibal-gabrovich-0193b3a7"
          target="_blank"
          > <i class="fa-brands fa-linkedin"></i
        ></a>
      
        <a class="nav-item mx-2"
          href="https://github.com/gabroka/maqueta_frontend"
          target="_blank"
          ><i class="fa-brands fa-github"></i
          > </a
        >
      
      <div class="nav-item d-iflex mr-2">
        <app-login></app-login>
        <app-logout></app-logout>
      </div>
    </div>
  
</nav>

<!-- <nav class="navbar-nav justify-content-between bg-secondary">
  <ul class="justify-content-between">
    <div class=" col-12 col-md-6">
      <li class="nav-item">
        <img src="/assets/img/argprog2.png" alt="logo_argentina_programa" />
      </li>
    </div>
    <div class=" col-12 col-md-6 text-end mt-2">
      <li class="nav-item m-2">
        <a href="https://codepen.io/gabroka" target="_blank"
          > <img src="/assets/img/codepen.svg" alt="codepen"> <i
            class="fa-brands fa-codepen"
          ></i
        ></a>
        <button type="button" class="btn"> <img class="imgRedes" src="img/stylo_pen_write_19386 _16x16.png">
          </button> 
      </li>
      <li class="nav-item m-2">
        <a
          href="https://www.linkedin.com/in/carlos-anibal-gabrovich-0193b3a7"
          target="_blank"
          > <img src="src/assets/img/linkedin.svg"
             alt="linkedin"> <i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li class="nav-item m-2">
        <a
          href="https://github.com/gabroka/maqueta_frontend"
          target="_blank"
          ><i class="fa-brands fa-github"></i
          > <img src="src\assets\img\square-github.svg"
            alt="github"> </a
        >
      </li>
      <li class="nav-item">
        <app-login></app-login>
        <app-logout></app-logout>
      </li>
    </div>
  </ul>
</nav> -->


<!-- <nav class="navbar d-flex bg-secondary">
  <ul class="navbar-nav justify-content-between col-md-12 navbar-text">
    <div>
      <img src="/assets/img/argprog2.png" alt="logo_argentina_programa" />
    </div>
    <div class="redes navbar-right">
      <li class="nav-item d-inline">
        <a href="https://codepen.io/gabroka" target="_blank"
          ><i class="fa-brands fa-codepen"></i
        ></a>
      </li>
      <li class="nav-item d-inline">
        <a
          href="https://www.linkedin.com/in/carlos-anibal-gabrovich-0193b3a7"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li class="nav-item d-inline">
        <a href="https://github.com/gabroka/maqueta_frontend" target="_blank"
          ><i class="fa-brands fa-github"></i>
        </a>
      </li>
       Button trigger modal de login 
      <li class="nav-item d-inline">
        <app-login></app-login>
        <app-logout></app-logout>
      </li>
    </div>
  </ul>
</nav> -->
