<section>
    <div class="container form-academica">
      <div class="accordion accordion-flush" id="accordionFlushFormacionAcademica">
        <!-- curso 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
              Curso Fisiología del Sistema Nervioso Central, Paraná febrero de 1996
            </button>
          </h2>
          <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading-1"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/fisiologiaSNC_1.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- curso 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse-2">
              Curso de esterilización, Buenos Aires julio de 1996
            </button>
          </h2>
          <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading-2"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/cursoEsterilizacionAsistencialrz.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- curso 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse-3">
              1ra jornada de farmacovigilancia, Paraná noviembre de 1996
            </button>
          </h2>
          <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading-3"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/jornadaFarmacovigilanciarz.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- curso 4 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse-4">
              Jornada sobre residuos patogénicos, mayo de 1997
            </button>
          </h2>
          <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading-4"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/residuosPatogenicosrz.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- curso 5 -->
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse-5">
              2da jornada de esterilización, octubre de 1997
            </button>
          </h2>
          <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading-5"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/" alt="">
            </div>
          </div>
        </div> -->
        <!-- curso 6 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse-6">
              Jornadas internacionales de esterilización, noviembre de 1997
            </button>
          </h2>
          <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading-6"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/jornadasEsterilizacionrz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 7 -->
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse-7">
              Curso de vacunas, mayo de 1998
            </button>
          </h2>
          <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading-7"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
              happening here in terms of content, but just filling up the space to make it look, at least at first
              glance,
              a bit more representative of how this would look in a real-world application.
            </div>
          </div>
        </div> -->
        <!-- curso 8 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse-8">
              Taller de capacitación teórico-practico en inmunizaciones: vacunas especificas, junio de 1999
            </button>
          </h2>
          <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading-8"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/vacunasEspecificasrz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 9 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse-9">
              Seminario clínica del marketing farmacéutico, julio de 2000
            </button>
          </h2>
          <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading-9"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/marketingFarmaceuticorz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 10 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse-10">
              Jornadas actualizaciones dermatológicas, julio y noviembre de 2001
            </button>
          </h2>
          <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading-10"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/actualizacionesDermatologicasrz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 11 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse-11">
              2das jornadas santafesinas y 1ras federales sobre política, economía, y gestión de medicamentos,
              septiembre
              de 2003
            </button>
          </h2>
          <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-heading-11"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/economiaGestionMedicamentosrz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 12 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse-12">
              Taller farmacovigilancia. Seguridad de los medicamentos, noviembre de 2003
            </button>
          </h2>
          <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-heading-12"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/tallerFarmacovigilanciarz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 13 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-13">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse-13">
              Curso a distancia, información de medicamentos para la atención farmacéutica, modulo: medicamentos
              utilizados en el asma, 50 hs cátedra con evaluación final, julio de 2009
            </button>
          </h2>
          <div id="flush-collapse13" class="accordion-collapse collapse" aria-labelledby="flush-heading-13"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/medicamentosAsmarz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 14 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-14">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse-14">
              Vº Curso Argentino- IIº Curso Latinoamericano de actualizacion en inmunización a distancia, 3 de diciembre
              de
              2011
            </button>
          </h2>
          <div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-heading-14"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/cert_inmunizaciones_2011rz.jpg" alt="cursos">
            </div>
          </div>
        </div>
        <!-- curso 15 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-15">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse-15">
              VIIIº Curso Argentino- Vº Curso Latinoamericano de actualizacion en inmunización a distancia, diciembre de
              2014
            </button>
          </h2>
          <div id="flush-collapse15" class="accordion-collapse collapse" aria-labelledby="flush-heading-15"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/cert_inmunizaciones_2014rz.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- curso 16 -->
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-16">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapse-16">
              XIº Curso Argentino- VIIIº Curso Latinoamericano de actualizacion en inmunización a distancia, diciembre
              de
              2017
            </button>
          </h2>
          <div id="flush-collapse16" class="accordion-collapse collapse" aria-labelledby="flush-heading-16"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/cert_inmunizaciones_2017.jpg" alt="">
            </div>
          </div>
        </div> -->
        <!-- curso 17 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-17">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse17" aria-expanded="false" aria-controls="flush-collapse-17">
              XIº Curso Argentino- VIIIº Curso Latinoamericano de actualizacion en inmunización a distancia, diciembre
              de
              2017
            </button>
          </h2>
          <div id="flush-collapse17" class="accordion-collapse collapse" aria-labelledby="flush-heading-17"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/cert_inmunizaciones_2017rz.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- curso 18 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading-18">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse18" aria-expanded="false" aria-controls="flush-collapse-18">
              Curso operador de PC, Windows, office, corel draw, abril de 1998
            </button>
          </h2>
          <div id="flush-collapse18" class="accordion-collapse collapse" aria-labelledby="flush-heading-18"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img src="img/cursoOperadorPcrz.jpg" alt="cursos">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>